# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.pdf

# resource

Assets/A_Flick Football/Editor
Assets/A_Flick Football/Materials
Assets/A_Flick Football/Models
Assets/A_Flick Football/Prefabs
Assets/A_Flick Football/Resources
Assets/A_Flick Football/ScenesDemo
Assets/A_Flick Football/Texture
Assets/A_Flick Football/ThirdParties
Assets/ViveIK
Assets/Battlemancer Weapon Systems
Assets/UnityChan
Assets/SteamVR
Assets/Samurai_Katana
Assets/Plugins
Assets/Resources
Assets/Paper Environment Pack vol. 1
Assets/ANGRY MESH
Assets/Demigiant

 
# need include the meta of file
!*.*.meta